<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= title %></title>
</head>
<body class="bg-slate-400">

  <div>
    <nav>
      <ul class="flex justify-center py-4 space-x-4 text-white text-lg">
        <li class="cursor-pointer hover:text-green-300"> <a href="/login">Login</a></li>
        <li class="cursor-pointer hover:text-green-300"> <a href="/users">Users</a> </li>
        <li class="cursor-pointer hover:text-green-300"> <a href="/inbox">Inbox</a> </li>
      </ul>
    </nav>
  </div>
</body>
</html>